# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.tox/
*.cover
*.coverage
coverage.xml
htmlcov/
.cache
nosetests.xml

# Pyre type checker
.pyre/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build outputs
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# OneDrive
~$*
